body {
   border: 0px;
   margin: 0;
}


.bandeau {
   border: 0px;

   height: 100px;
   width: 100%;
   text-align: center;
   /*le texte sera centrer*/
}

.right {
   text-align: right;
}

body {
   background-image: url("menu3.jpg");

   background-size: cover;
   background-repeat: no-repeat;

}


.menu {
   text-decoration: none;

}

.theme {

   text-align: center;
   font-size: 150%;

}

.footer {

   height: 100px;
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: absolute;
   bottom: 0;
   color: red;
}

.pied {
   font-size: 150%;
   color: red;
}

.bouton1 {
   font-size: 150%;
   background-color: silver;
   border:none;
	padding:6px;
	border-radius:8px;
	font:bold 20px Arial;
   color:#fff;
   color: black;
}
.espace{
   width: 100%;
   height: 20px;
}