body{
    background-color: lightgrey ;/*couleur de font de page en gris */
    font-size: 30px;/* taille du texte du body*/
}
.loic {
    font-size: 25px;
    display: flex;/* tableau qu on voit pas  pour disposer les elements*/
    
}
.loic > div:nth-child(2)  {
    flex-direction: column; /* ici les deux div pour alignier les photo a gauche et le texte a droite*/
    justify-content: center;
    display: flex;
    padding: 50px;
    font-size: 30px
    
}
.vall{
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;  /*inverse les elements */
}

.vall> div:nth-child(2)  {
    flex-direction: column; /* ici  les deux div pour alignier les photo a droite et le texte a gauche les deux "child" sont les deux div text et image*/
    justify-content: center;
    display: flex;
    padding: 50px;
    font-size: 30px
    
}

.nicole {
    font-size: 25px;/*taille de la police */
    text-align: center; /*texte ainsi que photo centrer*/
    
}

   
    
}
.fabio{
    text-align: center;/*texte ainsi que photo centrer*/

}
.popo{
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
}

.popo> div:nth-child(2)  {
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 50px;
    font-size: 30px
    
}
.kenny {
    font-size: 25px;
    display: flex;
    
}
.kenny> div:nth-child(2)  {
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 50px;
    font-size: 30px
    
}